In [2]:
import os 
import pandas as pd

In [6]:
# Lecture des données
data = pd.read_csv(".\data\Classeur4.csv", encoding="ISO-8859-1", sep=";")
data

                  PAYS  NOMBRE   HOMME  FEMME
0           Allemagne     190.0  169.0   21.0
1      Arabie Saoudite      5.0    NaN    5.0
2            Belgique      22.0    1.0   21.0
3               Canada    108.0   95.0   13.0
4             Djibouti      1.0    1.0    NaN
5                Dubai     12.0    NaN    1.0
6              Espagne      1.0    NaN    1.0
7               France     32.0   16.0   16.0
8                Gabon      1.0    1.0    NaN
9               Guyane      5.0    3.0    2.0
10         Ile Grenade      NaN    1.0    NaN
11              Italie      3.0    NaN    3.0
12            Jordanie    139.0   58.0   81.0
13              Koweit      4.0    NaN    4.0
14               Liban     11.0    1.0   10.0
15            Maldives      1.0    NaN    1.0
16            Maurice     595.0  433.0  162.0
17             Mayotte      2.0    2.0    NaN
18  Nouvelle Calédonie      1.0    1.0    NaN
19            Portugal      1.0    NaN    1.0
20             Rwanda       2.0    1.0    1.0
21          Seychelles     27.0   18.0    9.0
22                 USA      2.0    NaN    2.0
23                 NaN   1165.0  801.0  354.0